@import '../../../global.scss';
.hamburger {
    width: 32px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @include tablet {
        display:flex;
    }

    span {
      width: 100%;
      height: 3px;
      background-color:white;
      transform-origin: left;
      transition: all 1.2s ease;
    }

    &.actives {
        span {
            width: 31px;
            &:first-child {
                background-color: white;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                background-color: white;
                transform: rotate(-45deg);
            }
        }
    }
}

