@import '../../../global.scss';

.section-service {
    width: 100%;
    padding : 0 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 230px;
    margin-bottom: 80px ;
    position: relative;

    @include tablet {
        padding: 0 20px;
        padding-top: 230px;
    }
    @include mobile {
        padding-top: 150px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title1 {
            font-weight: 600;
            font-size: 16px;
            line-height: 125%;
            color: #FF64AE;
        }

        .title2 {
            font-weight: 600;
            font-size: 36px;
            line-height: 125%;
            color: #091156;
            margin-top: 12px;
            @include mobile {
                font-size: 28px;
            }
            
        }

        .title3 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1em;
            color: #8B8B8B;
            margin-top: 12px;
            @include mobile {
                font-size: 14px;
            }
        }
    }

    .images {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include tablet {
            justify-content: center;
        }
        img {
            margin: 30px 0;
        }

        @include tablet {
            img:first-child {
                width: 550px;
            }
            img:nth-child(2) {
                width: 550px;
                height: 254px;
                object-fit: cover;
            }
            img:nth-child(3) {
                width: 550px;
                height: 254px;
                object-fit: cover;
            }
            img:nth-child(4) {
                width: 550px;
                object-fit: cover;
            }
        }
    }


    .back-ground1 {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -90px;
        z-index: -1;
    }
    .back-ground2 {
        position: absolute;
        width: 100%;

        left: 0;
        bottom: -55px;
        z-index: -2;
    }
}