@import '../../global.scss';
.logo {
    display: flex;
    align-items: center;
    flex: 1;

    .header-icon {
        width: 63px;
        height: 63px;
        background-color: #FF64AE;
        border-radius: 50%;
        box-shadow: -1px 3px 4px #888888;
        position: relative;
    }

    .header-icon-1 {
        position: absolute;
        top: 10px;
        left: 14px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: white;
    }
    .header-icon-2 {
        position: absolute;
        top: 24px;
        left: 28px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: white;
    }
    .header-icon-3 {
        position: absolute;
        top: 26px;
        left: 40px;
        width: 40px;
        height: 11px;
        border-radius: 5px;
        background-color: #091156;
    }

    .logo-name {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.1em;
        margin-left: 40px;
        text-align: left;
        color:#091156;
        text-shadow: 2px 2px 8px rgb(154, 153, 153);
    }

    &.active {
        .header-icon-3 {
            background-color: white;
        }

        .logo-name{
            color: white;
        }
    }
    @include tablet{
        .header-icon-3 {
            background-color:white;;
        }

        .logo-name{
            color:white;
        }  
    }
}