@import '../../../global.scss';
.home1-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    position: relative;

    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            width: 160px;
            height: 20px;
            font-weight: 600;
            font-size: 16px;
            line-height: 125%;
            color: #FF64AE;

        }

        .text-content {
            width: 460px;
            height: 97px;
            font-weight: 600;
            font-size: 36px;
            line-height: 125%;
            text-align: center;
            color: #091156;
            @include mobile {
                width: 400px;
                font-size: 26px;
            }
        }

        .content {
            width: 848px;
            height: 51px;
            margin-top: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #8B8B8B;
            @include mobile {
                width: 400px;
                font-size: 14px;
            }

        }
    }

    .cards {
        display: flex;
        width: 100%;
        padding: 0 150px;
        margin-top: 80px;
        justify-content: space-between;


        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 343px;
            height: 458px;
            background-color: #FFFFFF;
            box-shadow: 0px 25px 50px 25px #F7F7FF;
            border-radius: 42px;
            padding: 60px 35px 50px 35px;
            img {
                width: 160px;
                height: 160px;
            }

            .card-title {
                width: 263px;
                height: 37px;
                font-weight: 600;
                font-size: 18px;
                line-height: 125%;
                text-align: center;
                color: #091156;
                margin-top: 25px;
            }

            .card-content {
                width: 274px;
                height: 80px;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #8B8B8B;
            }
        }
    }
}