.sig-up {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #ec75ae 25%, #f10d7b 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        width: 400px;
        padding: 40px;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 20px;

        h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 30px ;
        }

        input {
            height: 40px;
            margin: 10px 0;
            padding: 0 10px;
            outline: none;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            height: 40px;
            margin-top: 20px;
            color: white;
            font-size: 17px;
            font-weight: 600;
            background-color: #FF64AE;
            border: none;
            border-radius: 15px;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }

        p {
            color: red;
            font-size: 12px;
            transform: translateY(-12px);
        }

    }   
}